/Nanosaur™
/Nanosaur™.rsrc
/Nanosaur™ Extreme
/Nanosaur™ Extreme.rsrc
/._Nanosaur™
/._Nanosaur™ Extreme
/Data/
/DataExtreme/

/Quesa
/SDL2-*

/cmake-build*/

# Visual Studio
.vs/
*.user

# Visual Studio Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/


