# Game data
/Nanosaur™
/Nanosaur™.rsrc
/Nanosaur™ Extreme
/Nanosaur™ Extreme.rsrc
/._Nanosaur™
/._Nanosaur™ Extreme
/Data/
/DataExtreme/
/nanosaur*134.bin

# Libraries
/Quesa
/SDL2*

# Build directories
/build*
/cmake-build*/

# Visual Studio
.vs/

# JetBrains CLion
/.idea

# macOS metadata
.DS_Store

