#include <windows.h>
#include "version.h"

#pragma code_page(1252)

#define PROJECT_VERSION_4_WORDS PROJECT_VERSION_MAJOR,PROJECT_VERSION_MINOR,PROJECT_VERSION_PATCH,0

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
//
// IMPORTANT: The .ico should be UNCOMPRESSED, as a png-compressed .ico
// may cause garbage AVs to flag the game as a false positive!
IDI_ICON1 ICON DISCARDABLE "Nanosaur.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     PROJECT_VERSION_4_WORDS
PRODUCTVERSION  PROJECT_VERSION_4_WORDS
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English cp1252 (hex)
        BEGIN
            VALUE "CompanyName",        "Pangea Software, Inc."
            VALUE "FileDescription",    "Nanosaur"
            VALUE "FileVersion",        PROJECT_VERSION
            VALUE "InternalName",       "Nanosaur"
            VALUE "LegalCopyright",     "(C) 1998 Pangea Software, Inc. (C) 2023 Iliyas Jorio."
            VALUE "OriginalFilename",   "Nanosaur.exe"
            VALUE "ProductName",        "Nanosaur"
            VALUE "ProductVersion",     PROJECT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252 // US English cp1252
    END
END
